@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* === variables === */
:root {
    --text-color: #333;
    --text-color-lighter: #666;
    --almost-white: #f2f2f2;
    --accent: #b54b92;
    --accent-2: #7ecdab;
}


/* === font setup === */

h1, h2, h3, h4, h5, h6,
a, p, ul, ol, li, span,
input, textarea, label {
    font-family: "Quicksand", "Open Sans", "Noto Sans", "Arial", sans-serif;
    color: var(--text-color);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
a:first-child,
p:first-child,
li:first-child {
    margin-top: 0;
}

.material-icons {
    cursor: pointer;
    user-select: none;
}

/* === song entries === */

ul {
    padding: 0;
}

ul li {
    position: relative;
    display: block;
    background-color: white;
    border-bottom: 1px solid var(--almost-white);
    color: var(--text-color);
    text-decoration: none;
    list-style-type: none;
    transition: 0.2s all;
}

ul li:last-child {
    border: none;
}

ul li a:before {
    text-align: left;
    position: absolute;
    top: calc(50% - 0.7rem);
    left: 0.7rem;
    content: 'music_note';
    font-size: 1.6rem;
    line-height: 1.6rem;
    width: 1.8rem;
    font-family: 'Material Icons';
}

ul li a {
    display: block;
    padding: 1rem;
    padding-left: 3rem;
    line-height: 1rem;
    font-size: 1rem;
    width: calc(100% - 4rem);
    background-color: white;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.1s all;
}

ul li:hover a {
    background-color: var(--almost-white);
}

/* === search entries === */
section.search ul li a:before {
    content: 'queue_music';
}

section.search ul li:hover a:before {
    content: 'playlist_add';
    left: 0.75rem;
}

/* === header === */

@keyframes rainbow {
    0%      { background-position: 0%   82% }
    50%     { background-position: 100% 19% }
    100%    { background-position: 0%   82% }
}

header {
    padding: 1rem 2.5rem;
    margin-bottom: 1.5rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

header .gotube > * {
    display:    inline;
    color:      red;
}

header h2 {
    font-size:  1rem;
}

header .search {
    position: relative;
    width: 45%;
    color: grey;
}

header .search input {
    color: grey;
    font-size: 1.15rem;
    width: calc(100% - 4.6rem);
    height: 2rem;

    padding: 0.5rem 3.6rem 0.5rem 1rem;
    background-color: #f2f2f2;

    border: 0;
    border-radius: 0.35rem;
}

header .search button {
    cursor: pointer;
    content: 'search';
    position: absolute;
    border: 0;
    padding: 0.5rem;
    background: none;
    top: -0.15rem;
    right: 0.5rem;
    z-index: 1000;
    font-size: 2rem;
    font-family: 'Material Icons';
}

header.connected h1 {
    background: linear-gradient(
        124deg, 
        #ff2400, 
        #e81d1d,
        #e8b71d,
        #e3e81d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3);
        background-size: 1000% 1800%;
    background-clip: text;
    animation: rainbow 10s ease infinite;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

header.connected h2 {
    color: grey;
}

nav.menus {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

nav.menus i {
    font-size: 2rem;
    margin-left: 1rem;
}

/* === css reset === */

body {
    padding: 0;
    margin: 0;
}

/* === grid system === */

main {
    display: grid;
}

main section h2 {
    margin-left: 1.5rem;
}

/* === volume controls === */
.slider-holder {
    z-index: 1000;

    display: none;
    overflow: hidden;

    height: 14.5rem;
    width: 2rem;

    position: absolute;
    top: 0.75rem;
    right: 2.3rem;

    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

.slider-holder input {
    position: relative;
    top: 4.35rem;
    left: -4.65rem;
    transform: rotate(270deg);
}

.slider-holder input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

.slider-holder input::-webkit-slider-thumb,
.slider-holder input::-moz-range-thumb {
    border: none;
    height: 1.2rem;
    width: 1.2rem;
    background-color: var(--accent);
    cursor: pointer;
}

.slider-holder i {
    font-size: 2rem;
}

.slider-holder i:last-child {
    position: relative;
    top: 8.8rem;
}

/* === queue === */
section.queue {
    max-width: 100%;
    width: calc(25% + 14rem);
    position: fixed;
    right: 2.5rem;
    bottom: 5rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

section.queue img {
    display: block;
    width: 100%;
}

section.queue h2 {
    margin: 1rem;
}

#queueHolder {
    position: relative;
    height: 16rem;
    overflow-y: scroll;
}

section.queue #clearQueue {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;

    cursor: pointer;
    background: none;
    border: none;

    font-size: 2rem;
    font-family: 'Material Icons';
}

/* === player === */

section.player {
    position: fixed;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 5rem;
    bottom: 0;
    right: 0;
    padding: 0;

    background-color: var(--accent);
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

.main-controls {
    width: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-controls > button {
    cursor: pointer;
}

/* === player controls === */

section.player button,
section.player button:focus,
section.player button:active {
    display: inline-block;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: white;
    font-size: 2rem;
    font-family: 'Material Icons';
}

section.player button.big {
    font-size: 3rem;
}

/* === modal windows === */


.modal, .modal-hider {
    display: none;
}

.modal {
    width: 30rem;
    position: absolute;
    z-index: 10;

    top: 30%;
    left: calc(50% - 15rem);

    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

#configClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-hider {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 0, 0, 0.4);
}
